Package: live-audio
Version: 1.0.6
Maintainer: shambler
Description: This package enables live audio on DJI FPV v1, with the air unit vista has no mic!
Architecture: pigeon-glasses-v1
Homepage: https://github.com/shambler123/wtf_dji_fpv_live_audio/
Depends: wtfos-modloader
